
data_analyst_practice/mall_customer_seg.csv
data_analyst_practice/events.csv
data_analyst_sql/events.csv
data_analyst_sql/events.db
data_analyst_practice/online_retail.csv
data_analyst_practice/customer_retail.db
data_analyst_practice/online_retail_customer.csv
data_analyst_practice/online_retail_sub.csv
